<h1>Queueing Feed Reader</h1>

<form action="/feeds" method="post" />
  <div>
    Add a feed:
    <input type="text" size="60" name="url" />
    <input type="submit" value="Add" />
  </div>
</form>

<% unless @feeds.empty? %>
  <div class="refresh_all"><%= link_to_function "refresh all", 'refresh_all()' %></div>
<% end %>

<% @feeds.each do |feed| %>
  <%= render :partial => 'feed', :locals => { :feed => feed } %>
<% end %>
